<%= provide(:title,'Eventi in città') %>

<h1> Tutti gli eventi in città </h1>
<h2> Lista dei locali nella tua città da filtrare per categoria e data</h2>

<h1> Tutti gli eventi in città </h1>
<h2> Lista dei locali nella tua città da filtrare per categoria e data</h2>

<h1> Tutti gli eventi in città </h1>
<h2> Lista dei locali nella tua città da filtrare per categoria e data</h2>

<h1> Tutti gli eventi in città </h1>
<h2> Lista dei locali nella tua città da filtrare per categoria e data</h2>
