<%= provide(:title,'About') %>

<h1>About</h1>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p>Nightsout è un’applicazione web che ha come scopo principale quello di fare da intermediario diretto fra i proprietari di locali che vogliono sponsorizzare in modo autonomo i propri eventi con un feedback immediato e gli utenti in cerca di eventi a cui partecipare.

		Dopo essersi iscritti tramite mail e password (con servizio di recupero password dimenticata) o tramite Facebook sarà possibile accedere al servizio secondo una fra due modalità:<br>
		- gestore: può creare e personalizzare la pagina che descrive il proprio locale (uno o più) inserendo tutti i dati a esso relativi (categoria, nome, indirizzo, telefono, sito web, partita IVA, foto del locale..) e in seguito creare e personalizzare le pagine relative agli eventi che verranno tenuti nei locali registrati e inserire tutte le informazioni da far visualizzare al resto degli utenti (nome, orario, descrizione..). Per ogni evento, un gestore potrà vedere quanti utenti sono interessati, ovvero quanti lo hanno salvato come evento seguito, e rispondere a eventuali commenti degli utenti che vogliono esprimere i propri dubbi o giudizi.<br>
		- utente: può visualizzare tutti gli eventi nella sua città ordinati per popolarità o effettuare una ricerca degli eventi in una determinata zona; in entrambi i casi i risultati possono sempre essere filtrati per data o categoria. Una volta trovato un evento di interesse, l’utente può salvarlo nella propria pagina degli eventi da seguire, così da essere avvisato quando si avvicinerà la data dell’evento o quando sarà scaduto; ugualmente l’utente può salvare i propri locali preferiti così da essere informato quando questo pubblicherà un  nuovo evento. L’utente potrà poi condividere su Facebook l’evento a cui partecipa. Ciascun utente può lasciare un commento all’evento per richiedere maggiori informazioni e commentare allo stesso modo e dare una valutazione sulla pagina del locale.<p>
	</div>
</div>