<%= provide(:title,'About') %>

<h1>Pagina about</h1>
<h2>Descrizione varia dell'applicazione e della sua creazione</h2>

<h1>Pagina about</h1>
<h2>Descrizione varia dell'applicazione e della sua creazione</h2>

<h1>Pagina about</h1>
<h2>Descrizione varia dell'applicazione e della sua creazione</h2>

<h1>Pagina about</h1>
<h2>Descrizione varia dell'applicazione e della sua creazione</h2>