<%= provide(:title,'Sei stato bannato') %>
<h2>Il tuo profilo è stato bannato a tempo indeterminato per uso improprio del servizio o per inserimento di contenuti offensivi</h2>
<h3>Per eventuali chiarimenti e per poter riaccedere al profilo si prega di contattare direttamente gli admin: nightsoutstaff@gmail.com</h3>