<%= provide(:title,'Contatti') %>

<h1>Pagina contatti</h1>
<h2>Form per la mail o altri modi per contattarci (Fb o altri social)</h2>

<h1>Pagina contatti</h1>
<h2>Form per la mail o altri modi per contattarci (Fb o altri social)</h2>

<h1>Pagina contatti</h1>
<h2>Form per la mail o altri modi per contattarci (Fb o altri social)</h2>

<h1>Pagina contatti</h1>
<h2>Form per la mail o altri modi per contattarci (Fb o altri social)</h2>