<%= provide(:title,'Aiuto') %>

<h1>Frequenty Asked Questions</h1><br>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p><b style="color:blue;">Come faccio a cambiare modalità di accesso?</b><br>
			dalla pagina delle impostazioni puoi scegliere fra modalità cliente o gestore in qualsiasi momento.</p>
		<p><b style="color:blue;">Come funziona il servizio di ricerca?</b><br>
			dalla pagina "Cerca" puoi inserire un indirizzo per cercare tutti gli eventi in zona; selezionando una categoria o una data i risultati verranno filtrati secondo tali parametri. Inoltre, se vuoi scoprire tutti i locali in zona compresi quelli senza eventi in programma, clicca sulla checkbox apposita.</p>
		<p><b style="color:blue;">Posso pubblicare un evento senza avere un locale?</b><br>
			no, non è possibile. Ciò è stato fatto apposta per garantire a tutti gli utenti di Nightsout che gli eventi siano stati organizzati da locali certificati da partita IVA e non da qualsiasi altro utente.</p>
		<p><b style="color:blue;">Perchè non riesco a vedere gli eventi nella mia città?</b><br>
			se hai effettuato l'accesso da Facebook, la tua città va inserita dalla pagina delle impostazioni. Se invece ti sei normalmente registrato al sito, controlla di aver inserito correttamente la tua città. Se il problema persiste, può darsi che nella tua città non vi sono ancora locali iscritti a Nightsout con eventi in programma.</p>

	</div>
</div>
