<%= provide(:title,'Cerca') %>

<h1> Pagina di ricerca degli eventi su google maps </h1>
<h2> Va messa la funzione di ricerca con la mappa, i filtri per categoria e data, i risultati ottenuti </h2>

<h1> Pagina di ricerca degli eventi su google maps </h1>
<h2> Va messa la funzione di ricerca con la mappa, i filtri per categoria e data, i risultati ottenuti </h2>

<h1> Pagina di ricerca degli eventi su google maps </h1>
<h2> Va messa la funzione di ricerca con la mappa, i filtri per categoria e data, i risultati ottenuti </h2>

<h1> Pagina di ricerca degli eventi su google maps </h1>
<h2> Va messa la funzione di ricerca con la mappa, i filtri per categoria e data, i risultati ottenuti </h2>

<h1> Pagina di ricerca degli eventi su google maps </h1>
<h2> Va messa la funzione di ricerca con la mappa, i filtri per categoria e data, i risultati ottenuti </h2>