<%= provide(:title, 'Tutti gli eventi') %>
<br><h1>Tutti gli eventi</h1><br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Eventi totali (<%= @events.count %>)</h3><br>
    <ol class="events">
    	<%= render @events %>
    </ol>
      	<%= will_paginate @events %>
  </div>
</div>