<%= provide(:title,'Pubblica Locale') %>

<h1>Pubblica locali</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi locali</h2>

<h1>Pubblica locali</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi locali</h2>

<h1>Pubblica locali</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi locali</h2>

<h1>Pubblica locali</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi locali</h2>