<%= provide(:title,'Pubblica Evento') %>

<h1>Pubblica eventi</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi eventi</h2>

<h1>Pubblica eventi</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi eventi</h2>

<h1>Pubblica eventi</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi eventi</h2>

<h1>Pubblica eventi</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi eventi</h2>