@import "bootstrap-sprockets";
@import "bootstrap";

/*
body {
  padding-top: 60px;
}
*/

.btn-primary {
  background-color: #002080;
  color: #f2f2f2;
  border:none;
  border-radius:30px;
  &:hover {
    background-color: #00134d;
    color:white;
  }
  &:active {
    background-color: #00134d;
    color:white;
  }
}

.btn-default {
  background-color:transparent;
  border-color: white;
  color: white;
  border-radius: 30px;
  &:hover {
    background-color: white;
    color: #002699;
    border-color:white;
  }
}

.btn-delete {
  background-color: red;
  color: #f2f2f2;
  border:none;
  border-radius:30px;
  &:hover {
    background-color: #b30000;
    color:white;
  }
}

.btn-in{
  background-color: #002080;
  color: #f2f2f2;
  &:hover {
    background-color: #00134d;
    color:white;
  }
}

.vote-btn{
  width: 20px;
  height: 20px;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

.navbar-inverse {
  background-color: #002080;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {    /* in SCSS si possono scrivere dei nest di codice CSS (sarebbe .center e .center h1) */
  text-align: center;
  h1 {
    margin-bottom: 10px;
    font-size:2em;
  }
}
/* in SCSS è possibile definire VARIABILI! */
$light-gray: #777;
/*inoltre esistono già delle variabili predefinite (es. #777 esiste già come $gray-light, altro es. $gray-darker ecc..) */

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  /* si può fare il nest così: (sta per #logo:hover) */
  &:hover{
  	color: #fff;
  	text-decoration: none;
  }
}

/*#logo:hover {
  color: #fff;
  text-decoration: none;
}*/

/* footer, vediamo il nesting anche qui */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: &light-gray;
	a {
  	color: #555;
  	&:hover {
  		color: #222;
		}
	}
	small {
  	float: left;
	}
	ul {
  	float: right;
  	list-style: none;
		li {
  		float: left;
  		margin-left: 15px;
  	}
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Slideshow */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

.carousel-indicators li {
  background-color: rgba(70,70,70,.5);
  &:hover{
    background-color: rgba(70,70,70,.6);
  }
}

.carousel-indicators .active {
  background-color: #717171;
}

/* feed user */
.users {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    /*margin-left: 60px;*/
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    /*margin-left: 60px;*/
  }
}

/* feed notifiche */
.notifications {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    /*margin-left: 60px;*/
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    /*margin-left: 60px;*/
  }
}


/* feed di locali ed eventi */

.locals {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    /*margin-left: 60px;*/
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    /*margin-left: 60px;*/
  }
  .picture {
    float: left;
    /*margin-right: 10px;
    margin-top: 5px;*/
  }
}

.events {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    /*margin-left: 60px;*/
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    /*margin-left: 60px;*/
  }
  .picture {
    float: left;
    /*margin-right: 10px;
    margin-top: 5px;*/
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 20px;
  input {
    border: 0;
  }
}

/* follow */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


#map {
  height: 350px;
  width: 100%;
}

/* flash messages */
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 /* images */

 .thumbnail {
  border: 1px solid;
  max-width:100%;
 }


 /* links modifica ed elimina */

 .edit-link {
  color: gray;
  background-color:white;
  border: none;
  padding-top:5px;
  &:hover {
    color: #002080;
  }
 }

 .delete-link {
  color: gray;
  background-color:white;
  border:none;
  &:hover {
    color: red;
  }
 }

 /* follow e unfollow buttons */

.follow-btn {
  background-color:white;
  color:gray;
  border-color:gray;
  border-radius:30px;
  &:hover{
    color:#002080;
    border-color:#002080;
  }
}

.unfollow-btn {
  background-color:white;
  color:gray;
  border-color:gray;
  border-radius:30px;
  &:hover{
    color:red;
    border-color:red;
  }
}

img.raty-cancel {
  display: none;
}





/* tutorial giapponese */

/*
*:last-child {
  margin-bottom: 0;
}
 
[class*='outline'] {
  background-color: white;
}
*/
 
.form-actions {
  border-top: 1px solid #ccc;
  background-color: #eaeaea;
  padding: 1em 1em 2em;
  margin: 1em 0;
}
  
.form-group.has-error {
  border: 1px solid darkred;
  padding: 1em;
  background-color: white;
  color: darkred;
  input, textarea, .select {
    color: darkred;
    border-color: darkred;
  }
}
 
#flash_messages .alert {
  margin-bottom: 1em;
}

.comments-widget {
  background-color: #f5f5fa;
  margin-bottom: 1em;
  padding: 1em;
}
 
h2.comments-header {
  color: rgb(247, 147, 124) !important;
  margin-bottom: 0.3em !important;
}
 
ul.comments-list {
  list-style-type: none;
  padding-left: 1.5em;
  & > li {}
  ul{ 
    list-style-type: none;
    padding-left: 2em; 
    ul{
      list-style-type: none; 
      padding-left: 0px; 
    }
  }
}
 
li.comment {
  /* background-color: #e6e6e6; */
  margin-bottom: .5em !important;
  &:last-child {
    margin-bottom: 0;
  }
  .comment-content {
 
  }
  .comment-info {
    color: #004d99;
    margin-bottom: .5em;
    a {
      color: #004d99;
      &:hover {
        color: #004d99;
        @extend .text-primary;
      }
    }
  }
  margin-bottom: 1.3em;
  ul.replies_for_comment {
    margin-top: 1em;
  }
}
 
.comment-form {
  margin-top: 1em;
  margin-bottom: .5em;
}
